.Navbar {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 10;
   height: 65px;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.Navbar-logo {
   cursor: pointer;
}

.Navbar-wrapper {
   height: inherit;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   margin: 0 auto;
   text-align: center;
}

.Navbar-links {
   display: inline-block;
   list-style: none;
}

.Navbar-links li {
   display: inline;
   font-size: 14px;
   color: #FFFFFF;
   font-weight: bold;
   margin: 0 10px;
   text-transform: uppercase;
}

.Navbar-logo {
   height: 50px;
}

.hamburger-button {
   height: 50px;
   width: 50px;
}
