.OurTeam {
   background-color: #071F4E;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.OurTeam--header {
   margin: 80px 0 10px 0;
   color: #FF6161;
}

.skill--name {
   width: 100px;
}

.skill--name, .team-mate__name {
   color: #FF6161;
   margin: 5px auto;
}

.skill--description, .team-mate__title {
   color: #FFFFFF;
   font-size: 14px;
   font-style: italic;
   line-height: 12px;
}

.skills, .team {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin: 10px 0;
}

.team-mate {
   margin: 0 20px;
   cursor: pointer;
}

.team-mate__img {
   height: 180px;
   width: 180px;
   border-radius: 50%;
}
