.modal-shade {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   cursor: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.modal {
   margin: 0 auto;
   background-color: #FFFFFF;
   display: block;
   max-width: 660px;
   max-height: 550px;
   padding: 10px 15px;
   text-align: left;
}

.modal--portrait {
   width: 195px;
   height: 195px;
   border-radius: 50%;
   margin-right: 20px;
   float: left;
}

.modal--close-button {
   position: absolute;
   background: none;
   border: none;
   color: #FFFFFF;
   font-size: 36px;
   z-index: 10;
   top: 90px;
   right: 20px;
   cursor: pointer;
   outline: none;
   font-family: 'Raleway', sans-serif;
}

.modal--title, .modal--experience-header, .modal--name {
   margin: 10px 0;
   font-size: 20px;
   font-style: italic;
   color: #071F4E;
}

.experiences {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.experience {
   margin: 0 10px;
   text-align: center;
}

.experience-name {
   margin: 5px 0;
   max-width: 130px;
}

.modal--name {
   font-size: 25px;
}

.experience-img {
   height: 40px;
   max-width: 120px;
}

.certifications {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

.certification {
   text-align: center;
   margin: 0 20px;
}

.certification-img {
   height: 90px;
}

.certification-name {
   max-width: 200px;
   margin: 5px 0;
}
